     
         *{
        box-sizing: border-box;
    }    
    #navbr{
             font-size: 1.6em;   
             margin-left: 25px;  
         }

     li >span{
        color: black;
        font-size: 25px; 
     }    
     
     #menu {
     	background-color:lightblue;
     }

    h1{
        text-align: center;
        font-size: 50px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    p {
  padding: 20px;
  font-size: 25px;
  text-align :center;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

section {
 background-color: grey;
 margin-left: 25px;
 position: relative;
 overflow: auto;
}

#d1 {
    text-align: center;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
}

#d2 {
    text-align: center;
    font-size: 35px;
    padding: 5px;
    font-weight: bold;
}

#d3 {
     text-align: center;
     font-size: 35px;
     padding: 5px;
     font-weight: bold;
}
.row {
  width: 100%;
}
